Repository wazuh/wazuh-dashboard-plugins, pull requests merged in 2018-04, with the labels that each got.

#348 Fixed flickering on Settings tab
  public/controllers/settings.js
  public/templates/settings/settings.html
Labels: bugfix, frontend, html

#359 Added Syscollector to Manager and Agents configuration
  public/templates/agents/agents-configuration.html
  public/templates/manager/manager-configuration.html
Labels: api, enhancement, html

#379 Fix visualizations fields regarding to the agent.name field
  server/integration-files/visualizations/agents/agents-virustotal.js
  server/integration-files/visualizations/overview/overview-virustotal.js
Labels: 3.2, backend, bugfix, visualization

#383 Safer access to filter properties
  public/kibana-integrations/kibana-discover.js
Labels: 3.2, discover, enhancement

#389 Removed metricService
  public/app.js
  public/controllers/agents.js
  public/controllers/overview.js
  public/services/wz-metric-service.js
  public/templates/agents/agents-audit.html
  public/templates/agents/agents-oscap.html
  public/templates/agents/agents-virustotal.html
  public/templates/agents/agents-vuls.html
  public/templates/overview/overview-audit.html
  public/templates/overview/overview-aws.html
  public/templates/overview/overview-fim.html
  public/templates/overview/overview-general.html
  public/templates/overview/overview-oscap.html
  public/templates/overview/overview-virustotal.html
  public/templates/overview/overview-vuls.html
Labels: 3.2, bugfix, frontend

#393 Fixing PCI DSS filter
  public/kibana-integrations/kibana-discover.js
Labels: bugfix

#394 Fix agents autocomplete
  public/controllers/agents.js
  public/kibana-integrations/kibana-discover.js
Labels: 3.2, bugfix, discover

#396 Small minor improvements to user interface
  public/directives/wz-menu/wz-menu.html
  public/less/common.less
  public/less/typography.less
  public/templates/agents/agents.head
  public/templates/manager/groups/groups.head
  public/templates/overview/overview.head
  public/templates/settings/settings.html
Labels: 3.2, css, enhancement, html

#401 Fix x-pack bug when there is no security enabled
  server/controllers/wazuh-elastic.js
  server/initialize.js
  server/lib/elastic-wrapper.js
Labels: 3.2, bugfix, x-pack

#413 Added errorHandler service to bs controller, better error parsing
  public/controllers/blank-screen-controller.js
Labels: 3.2, enhancement, frontend

#415 Fix false "not enough privileges" scenario
  server/controllers/wazuh-elastic.js
Labels: 3.2, backend, bugfix, x-pack

#419 Disable auto-refresh on configuration tab
  public/templates/agents/agents.head
Labels: 3.2, bugfix, kibana

#420 New Manager/Ruleset redesign
  CHANGELOG.md
  config.yml
  public/controllers/ruleset.js
  public/directives/wz-menu/wz-menu.html
  public/directives/wz-menu/wz-menu.less
  public/directives/wz-table/wz-table.html
  public/directives/wz-table/wz-table.js
  public/directives/wz-table/wz-table.less
  public/factories/data-handler-composer.js
  public/less/common.less
  public/less/height.less
  public/less/layout.less
  public/less/typography.less
  public/services/data-handler.js
  public/templates/agents-prev/agents-prev.html
  public/templates/agents/agents-configuration.html
  public/templates/agents/agents.head
  public/templates/manager/manager-osseclog.html
  public/templates/manager/ruleset/decoders/decoders-detail.html
  public/templates/manager/ruleset/decoders/decoders-list.html
  public/templates/manager/ruleset/decoders/decoders.head
  public/templates/manager/ruleset/decoders/decoders.jade
  public/templates/manager/ruleset/rules/rules-detail.html
  public/templates/manager/ruleset/rules/rules-list.html
  public/templates/manager/ruleset/rules/rules.head
  public/templates/manager/ruleset/rules/rules.jade
  public/templates/manager/ruleset/ruleset-decoders.html
  public/templates/manager/ruleset/ruleset-rules.html
  public/templates/manager/ruleset/ruleset.jade
  public/templates/settings/settings.html
Labels: 3.2, frontend, html, redesign
